{% macro render_new(endpoint) %}
    <a href="{{ url_for(endpoint) }}" class="btn btn-primary content-new"><i class="glyphicon glyphicon-plus"></i></a>
{% endmacro %}

{% macro render_menu(endpoint, display, active='') %}
    <li {% if request.endpoint == endpoint or active == endpoint %} class='active' {% endif %}>
        <a href="{{ url_for(endpoint) }}">{{ display }}</a>
    </li>
{% endmacro %}

{% macro render_sub_hp_menu(endpoint, display , id) %}
    <li class="pros-hp-button" >
        <a href="{{ url_for(endpoint, id=id) }}">{{ display }}</a>
    </li>
{% endmacro %}

{% macro render_edit_menu(endpoint, display , id) %}
<a href="{{ url_for(endpoint, id=id) }}">{{ display }}</a>
{% endmacro %}

{% macro render_pagination(endpoint, pagination, id=None, query_string=None) %}
<!-- pagination -->
<div class="custom-pagination btn-group mr-2">
    <div class="custom-pagination-center" style="margin: 0 auto">
        {% if pagination.has_prev %}
            <button type="button" class="btn btn-primary"
                    onclick="location.href='{{ url_for(endpoint, page=pagination.page - 1, id=id) }}{% if query_string %}?{{ query_string }}{% endif %}'">&#8592;</a>
            </button>
        {% endif %}

        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <button type="button" class="btn btn-primary"
                            onclick="location.href='{{ url_for(endpoint, page=page, id=id) }}{% if query_string %}?{{ query_string }}{% endif %}'"><div>{{ page }}</div></a>
                    </button>
                {% else %}
                    <button type="button" class="btn">
                        <div class="active">{{ page }}</div>
                    </button>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <button type="button" class="btn btn-primary"
                    onclick="location.href='{{ url_for(endpoint, page=pagination.page + 1, id=id) }}{% if query_string %}?{{ query_string }}{% endif %}'">
                    <div>&#8594;</div>
            </button>
        {% endif %}
    </div>
</div>
{% endmacro %}
