.login-form {
    min-width:320px;
}

.tenant-logo {
    text-align: center;
}
.rolling-banner  { position:relative; padding:0; margin:0 auto;
                 width: 100%; height: 100%;
                 background-color:#1d2828; }
 .rolling-banner .banner-item {
    display: none;
    cursor: pointer;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-position: center;
 }

 input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


